.App {
  text-align: center;
}

.Header1 {
  text-align: left;
  background-color: #023066;
  color: white;
  font-style: italic;
  padding: 10px;
}

.App-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.post-card {
  margin: 10px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px; /* Set a fixed width for all cards */
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.card-content {
  font-size: 0.9em;
}
