.App {
  text-align: center;
}

.Header1 {
  text-align: left;
  background-color: #023066;
  color: white;
  font-style: italic;
  padding: 10px;
}

.App-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.post-card {
  margin: 10px;
  flex: 0 0 calc(33.33% - 20px);
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
}

.card-content {
  font-size: 0.9em;
  justify-content: center;
}

.card-content img {
  max-width: 100%;
  height: auto;
}

.read-more-button {
  color: blue;
  cursor: pointer;
  transition: color 0.3s ease;
}

.read-more-button:hover {
  color: gray;
}

.StickyHeader {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  color: #575757;
  padding: 10px;
  text-align: center;
  z-index: 1000;
  font-weight: 500;
}

.ButtonRow {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.HeaderButton {
  background-color: transparent;
  border: none;
  color: #3b3b3b;
  cursor: pointer;
  font-size: 16px;
  margin-right: 50px;
}

.HeaderButton:hover {
  text-decoration: underline;
}

.Footer {
  background-color: #023066;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.Footer2 {
  background-color: #0a1128;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

:root {
  --list-style-type: none;
}


.FooterColumns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.FooterColumn {
  flex: 1;
  padding: 10px;
  text-align: left;
  list-style-type: var(--list-style-type);
  /* Add this line */
}

.FooterColumn h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.FooterColumn ul {
  list-style-type: var(--list-style-type);
  font-size: 12px;
}